.panel {
    padding: 10px;
}

.panel h4 {
    padding: 0;
    margin: 0 0 25px 0;
}

.row {
    padding: 15px;
}

.form-control {
    margin: 5px auto;
}

#map-canvas {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

img {
    border-radius: 5px;
}

.step img {
    width: 100%;
}

.fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 2;
}